body{
    margin:0;   
}
*,
*:after,
*before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/*Header*/
.header{
    padding-top: 25px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.header__logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.header__logo__text{
    color: #00DFD0;
    background: linear-gradient(90deg,#00E1D0,#00A5CF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0; 
    margin-top: 7px;
    margin-left: 16px;
}
.header__img{
    color: #00DFD0;
    background: linear-gradient(0deg,#00E1D0,#00A5CF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Nav*/
.nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;

    color: #fff;
    text-decoration:none;

    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
}
.nav__link:hover{
    color :#00E1D0;
}

/*Container*/
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/*Intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 680px;

    background: url("../intro.jpg") center no-repeat;
    background-size: cover;
}
.intro__title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    color : #fff;  
}
.intro__title:after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00E8DC;
    margin: 27px auto 0;
}
.intro__inner{
    width: 100%;
    max-width: 780px;
    margin: 0 90px;

    text-align: center;
}
.intro__text{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color : #fff;
    line-height: 24px; 
}

/*ourstory*/
.ourstory{
    width: 100%;   
    height: 400px;
}
.ourstory__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 70px;
    width: 100%;
}
.ourstory__title{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #403A4A;
}
.ourstory__text{
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #736E79; 
}
.ourstory__content{
    margin-left: 100px;
}
.ourstory__logo{
    width: 235px;
    height: 230px;
}

/*Button*/
.btn{
    margin-top: 53px;
    display: inline-block;
    vertical-align: top;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    color: #00E1D0;
    padding: 14px 14px;
    border: 2px solid #00E1D0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.btn:hover{
    background-color: #00E1D0;
    color: white;
}

/*Video*/
.video{
    height: 550px;
    width: 100%;
    background: url("../video.jpg") center no-repeat;
    background-size: cover;
}
.video__text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding-top: 335px;   
}

/*Expertise*/
.expertise{
    width: 100%;
    height: 755px;
}
.expertise__title{
    padding-top: 70px;
    text-align: center;
}
.expertise__title1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 3px;
    color: #403A4A;
    text-transform: uppercase;
}
.expertise__title2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 15px;
    color: #A2A0A4;
}
.expertise__title:after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #C8C5CA;
    margin: 19px auto 0;
}
.expertise__content{
    padding: 0 20px;
    margin-top: 165px;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-column-gap: 70px;
    grid-template-rows: 220px 220px;
}
.expertise__block__title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #403A4A;
    text-transform: uppercase;
}
.expertise__block__text{
    padding-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8E8E8E;
    line-height: 22px;
}
